<?xml version="1.0"?>
<!--
/**
* @author Indglobal
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Beckn\Bpp\Api\SearchRepositoryInterface" type="Beckn\Bpp\Model\Repository\Search\SearchRepository" />
    <preference for="Beckn\Bpp\Api\CartRepositoryInterface" type="Beckn\Bpp\Model\Repository\Cart\CartRepository" />
    <preference for="Beckn\Bpp\Api\SubscribeRepositoryInterface" type="Beckn\Bpp\Model\Repository\Subscribe\SubscribeRepository" />
    <preference for="Beckn\Bpp\Api\Data\SubscribeInterface" type="Beckn\Bpp\Model\Data\Subscribe\Subscribe" />
</config>