<?xml version="1.0" ?>
<!--
/**
* @author Indglobal
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="beckncheckout" id="beckncheckout">
            <module name="Beckn_Checkout"/>
        </route>
    </router>
</config>