<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @author Indglobal
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="becknbpp" translate="label" sortOrder="10">
            <label>Beckn Protocol Configuration</label>
        </tab>
        <section id="provider_config" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Provider Configuration</label>
            <tab>becknbpp</tab>
            <resource>Beckn_Core::backen_bpp_config</resource>
            <group id="support_info" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Support Information</label>
                <field id="phone" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Phone Number</label>
                </field>
                <field id="email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Address</label>
                </field>
                <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL</label>
                </field>
            </group>
        </section>
    </system>
</config>