<?xml version="1.0"?>
<!--
/**
* @author Indglobal
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Beckn\CancelOrder\Api\CancelRepositoryInterface" type="Beckn\CancelOrder\Model\Repository\CancelRepository" />
</config>