<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @author Indglobal
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cancel_config" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Order Cancel Configuration</label>
            <tab>becknbpp</tab>
            <resource>Beckn_Core::backen_bpp_config</resource>
            <group id="order_cancel" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cancel Reason</label>
                <field id="reason" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Reason</label>
                    <frontend_model>Beckn\CancelOrder\Block\Adminhtml\CancelReason\Options</frontend_model>
                    <backend_model>Beckn\CancelOrder\Model\Config\CancelReason\Options</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>