<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @author Indglobal
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Beckn_Search" setup_version="1.0.0">
        <sequence>
            <module name="Beckn_Core"/>
        </sequence>
    </module>
</config>
