<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="magento_orderevent_create" instance="Beckn\Core\Observer\OrderOnStatus" />
    </event>
    <event name="sales_order_fulfillment_save_after">
        <observer name="magento_order_fulfillment_save" instance="Beckn\Core\Observer\OrderOnStatus" />
    </event>
</config>