<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @author Indglobal
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="becknbpp" translate="label" sortOrder="10">
            <label>Beckn Protocol Configuration</label>
        </tab>
        <section id="subscriber_config" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Subscriber Configuration</label>
            <tab>becknbpp</tab>
            <resource>Beckn_Core::backen_bpp_config</resource>
            <group id="subscriber" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Subscriber Configuration</label>
                <field id="subscriber_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Subscriber ID</label>
                </field>
                <field id="industry_domain" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Industry Domain</label>
                </field>
                <field id="country" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="city" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>City</label>
                </field>
                <field id="uri" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>URI</label>
                </field>
            </group>
        </section>
        <section id="security_config" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Security and Trust</label>
            <tab>becknbpp</tab>
            <resource>Beckn_Core::backen_bpp_config</resource>
            <group id="security" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Security and Trust</label>
                <field id="signing_public_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Signing Public Key</label>
                    <frontend_model>Beckn\Core\Block\Adminhtml\System\Config\Form\Field\Disable</frontend_model>
                </field>
                <field id="signing_private_key" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Signing Private Key</label>
                    <frontend_model>Beckn\Core\Block\Adminhtml\System\Config\Form\Field\Disable</frontend_model>
                </field>
                <field id="signing_key_pair" translate="label comment tooltip" type="button" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <comment>Generate Signing Key</comment>
                    <frontend_model>Beckn\Core\Block\Adminhtml\System\Config\ButtonGenerateSignkey</frontend_model>
                </field>
                <field id="encryption_public_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Encryption Public Key</label>
                    <frontend_model>Beckn\Core\Block\Adminhtml\System\Config\Form\Field\Disable</frontend_model>
                </field>
                <field id="encryption_private_key" translate="label" type="password" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Encryption Private Key</label>
                    <frontend_model>Beckn\Core\Block\Adminhtml\System\Config\Form\Field\Disable</frontend_model>
                </field>
                <field id="encryption_key_pair" translate="label comment tooltip" type="button" sortOrder="60" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <comment>Generate Encryption Key</comment>
                    <frontend_model>Beckn\Core\Block\Adminhtml\System\Config\ButtonGenerateEnckey</frontend_model>
                </field>
                <field id="url" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Registry URL</label>
                    <comment>Please do not include / at the end</comment>
                </field>
                <field id="unique_key_id" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Unique Key Id</label>
                </field>
                <field id="valid_from" translate="label" sortOrder="80" type="date" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Valid From</label>
                    <frontend_model>Beckn\Core\Block\Adminhtml\System\Config\Date</frontend_model>
                </field>
                <field id="valid_until" translate="label" sortOrder="90" type="date" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Valid Until</label>
                    <frontend_model>Beckn\Core\Block\Adminhtml\System\Config\Date</frontend_model>
                </field>
                <field id="status" translate="label" sortOrder="100" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Status</label>
                    <frontend_model>Beckn\Core\Block\Adminhtml\System\Config\Form\Field\Disable</frontend_model>
                </field>
                <field id="subscribe" translate="label comment tooltip" type="button" sortOrder="110" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <comment>To Subscribe, Fulfill the URL Valid From and Valid until inputs and "Save Config". Then push the button "Subscribe".</comment>
                    <frontend_model>Beckn\Core\Block\Adminhtml\System\Config\ButtonSubscribe</frontend_model>
                </field>
                <field id="enable" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable digital signature authentication</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="business_config" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Business Configuration</label>
            <tab>becknbpp</tab>
            <resource>Beckn_Core::backen_bpp_config</resource>
            <group id="business" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Business Configuration</label>
                <field id="name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Name</label>
                </field>
                <field id="short_desc" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Short Description</label>
                </field>
                <field id="logo" translate="label" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" >
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <base_url type="media" scope_info="1">beckn/business/logo</base_url>
                    <upload_dir config="system" scope_info="1">beckn/business/logo</upload_dir>
                </field>
            </group>
        </section>
        <section id="api_config" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>API Configuration</label>
            <tab>becknbpp</tab>
            <resource>Beckn_Core::backen_bpp_config</resource>
            <group id="api" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>API Configuration</label>
                <field id="option" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Activate APIs</label>
                    <source_model>Beckn\Core\Model\Config\Source\ApiList</source_model>
                </field>
            </group>
        </section>
        <section id="fulfillment_config" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Fulfillment Configuration</label>
            <tab>becknbpp</tab>
            <resource>Beckn_Core::backen_bpp_config</resource>
            <group id="fulfilment" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Fulfillment Configuration</label>
                <field id="type" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Fulfilment type</label>
                    <source_model>Beckn\Core\Model\Config\Source\FulfilmentType</source_model>
                    <tooltip><![CDATA[Store pickup means the customer needs to pick up the orders items from the store. That is fulfillment is not provided for the order.<br><br> Home delivery means the items in the order will be delivered to the customer at the location selected by them.]]></tooltip>
                </field>
            </group>
            <group id="itemfulfillment" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Fulfillment Type</label>
                <field id="typeoption" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Fulfillment Type</label>
                    <frontend_model>Beckn\Core\Block\Adminhtml\Itemfulfillment\Options</frontend_model>
                    <backend_model>Beckn\Core\Model\Config\FulfillmentType\Options</backend_model>
                </field>
            </group>
            <group id="fulfillment_status" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Fulfillment Status</label>
                <field id="fulfillment_status_type" type="select" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select status update type</label>
                    <source_model>Beckn\Core\Model\Config\Source\FulfillmentStatusType</source_model>
                </field>
                <field id="fulfillment_option" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fields of fulfillment status</label>
                    <depends>
                        <field id="*/*/fulfillment_status_type">manual_update</field>
                    </depends>
                    <frontend_model>Beckn\Core\Block\Adminhtml\FulfillmentStatusType\Options</frontend_model>
                    <backend_model>Beckn\Core\Model\Config\FulfillmentStatusType\Options</backend_model>
                </field>
            </group>
        </section>
        <section id="signature_config" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Digital Signature Authentication</label>
            <tab>becknbpp</tab>
            <resource>Beckn_Core::backen_bpp_config</resource>
            <group id="signature_authentication" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Digital Signature Authentication</label>
            </group>
        </section>
        <section id="provider_config" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Provider Configuration</label>
            <tab>becknbpp</tab>
            <resource>Beckn_Core::backen_bpp_config</resource>
            <group id="number_of_provider" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Select Number of Providers</label>
                <field id="number" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number</label>
                </field>
            </group>
            <group id="provider_details" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Provider Details</label>
                <field id="provider_name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Provider Name</label>
                </field>
                <field id="provider_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Provider Id</label>
                </field>
                <field id="email" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email</label>
                </field>
                <field id="phone" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Phone</label>
                </field>
                <field id="short_desc" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Short Description</label>
                </field>
                <field id="logo" translate="label" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" >
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <base_url type="media" scope_info="1">beckn/provider/logo</base_url>
                    <upload_dir config="system" scope_info="1">beckn/provider/logo</upload_dir>
                </field>
            </group>
        </section>
    </system>
</config>