<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @author Indglobal
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment_config" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Payment Configuration</label>
            <tab>becknbpp</tab>
            <resource>Beckn_Core::backen_bpp_config</resource>
            <group id="payment" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Payment Configuration</label>
                <field id="types" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Payment Types</label>
                    <source_model>Beckn\Checkout\Model\Config\Source\PaymentTypes</source_model>
                </field>
                <field id="method" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Select Payment Method</label>
                    <source_model>Beckn\Checkout\Model\Config\Source\PaymentMethod</source_model>
                </field>
            </group>
        </section>
    </system>
</config>